*.py[cod]
.*.swp
.*.swo
venv/
.DS_Store
cli/help.txt
cli/help.md
cli/help_clean.md
.swp
pybuild
snowfakery.egg-info
build/
dist/
docs/api/
docs/_build/
docs/fakedata
docs/fakedata.md
docs/locales.md
.eggs/
.idea/
.tox/
tags
.vscode/
.cache/
.coverage
.python-version
selenium-screenshot-*
log.html
report.html
output.xml
geckodriver.log
**/.sfdx
htmlcov/
.pytest_cache/
pytestdebug.log
pip-wheel-metadata
.mypy_cache/
/docs/_build
*~
.cci
results_junit.xml
test_results.json
temp
coverage.xml

# Salesforce / SFDX / CCI
.cci
.sfdx
/src.orig
/src
myvenv