-r requirements.txt
black==21.5b1
coverage==5.5
coveralls==3.0.1
flake8==3.9.2
myst-parser==0.14.0
pre-commit==2.13.0
pytest==6.2.4
pytest-cov==2.12.0
Sphinx==3.5.4      # pin this until Myst is happy with Sphinx 4
typeguard==2.10.0   # do not upgrade until #181 is fixed
faker-microservice==2.0.0  # for testing
tox==3.23.1
