interactions:
- request:
    body: '{"Name": "Company3"}'
    headers:
      Request-Headers:
      - Elided
    method: POST
    uri: https://orgname.my.salesforce.com/services/data/v50.0/sobjects/Account/
  response:
    body:
      string: "{\n  \"id\" : \"001ACCOUNTID\",\n  \"success\" : true,\n  \"errors\"
        : [ ]\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.my.salesforce.com/services/data/v50.0/query/?q=SELECT+count%28%29+FROM+Account
  response:
    body:
      string: "{\n  \"totalSize\" : 22,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.my.salesforce.com/services/data/v50.0/query/?q=SELECT+Id+FROM+Account+LIMIT+1+OFFSET+1
  response:
    body:
      string: "{\n  \"totalSize\" : 1,\n  \"done\" : true,\n  \"records\" : [ {\n
        \   \"attributes\" : {\n      \"type\" : \"Account\",\n      \"url\" : \"/services/data/v50.0/sobjects/Account/001ACCOUNTID\"\n
        \   },\n    \"Id\" : \"001ACCOUNTID\"\n  } ]\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.my.salesforce.com/services/data/v50.0/query/?q=SELECT+count%28%29+FROM+User
  response:
    body:
      string: "{\n  \"totalSize\" : 7,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.my.salesforce.com/services/data/v50.0/query/?q=SELECT+LastName+FROM+User+LIMIT+1+OFFSET+1
  response:
    body:
      string: "{\n  \"totalSize\" : 1,\n  \"done\" : true,\n  \"records\" : [ {\n
        \   \"attributes\" : {\n      \"type\" : \"User\",\n      \"url\" : \"/services/data/v50.0/sobjects/User/0051100000AfzjBAAR\"\n
        \   },\n    \"LastName\" : \"Platform Integration User\"\n  } ]\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.my.salesforce.com/services/data/v50.0/query/?q=SELECT+Id%2C+FirstName%2C+LastName+FROM+User+LIMIT+1+OFFSET+1
  response:
    body:
      string: "{\n  \"totalSize\" : 1,\n  \"done\" : true,\n  \"records\" : [ {\n
        \   \"attributes\" : {\n      \"type\" : \"User\",\n      \"url\" : \"/services/data/v50.0/sobjects/User/0051100000AfzjBAAR\"\n
        \   },\n    \"Id\" : \"0051100000AfzjBAAR\",\n    \"FirstName\" : null,\n
        \   \"LastName\" : \"Platform Integration User\"\n  } ]\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.my.salesforce.com/services/data/v50.0/query/?q=SELECT+Id%2C+FirstName%2C+LastName+FROM+User+where+FirstName%3D%27User%27+LIMIT+1
  response:
    body:
      string: "{\n  \"totalSize\" : 1,\n  \"done\" : true,\n  \"records\" : [ {\n
        \   \"attributes\" : {\n      \"type\" : \"User\",\n      \"url\" : \"/services/data/v50.0/sobjects/User/0051100000AfzZ4AAJ\"\n
        \   },\n    \"Id\" : \"0051100000AfzZ4AAJ\",\n    \"FirstName\" : \"User\",\n
        \   \"LastName\" : \"User\"\n  } ]\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.my.salesforce.com/services/data/v50.0/query/?q=SELECT+Id+FROM+User+where+FirstName%3D%27User%27+LIMIT+1
  response:
    body:
      string: "{\n  \"totalSize\" : 1,\n  \"done\" : true,\n  \"records\" : [ {\n
        \   \"attributes\" : {\n      \"type\" : \"User\",\n      \"url\" : \"/services/data/v50.0/sobjects/User/0051100000AfzZ4AAJ\"\n
        \   },\n    \"Id\" : \"0051100000AfzZ4AAJ\"\n  } ]\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
version: 1
