interactions:
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.my.salesforce.com/services/data/v50.0/query/?q=select+Id+from+Profile+where+Name%3D%27Identity+User%27
  response:
    body:
      string: "{\n  \"totalSize\" : 1,\n  \"done\" : true,\n  \"records\" : [ {\n
        \   \"attributes\" : {\n      \"type\" : \"Profile\",\n      \"url\" : \"/services/data/v50.0/sobjects/Profile/00e0R000000yGOcQAM\"\n
        \   },\n    \"Id\" : \"00e0R000000yGOcQAM\"\n  } ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Response-Headers: SF-Elided
    status:
      code: 200
      message: OK
version: 1
