interactions:
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.my.salesforce.com/services/data/v50.0/query/?q=SELECT+Id+FROM+User+LIMIT+1
  response:
    body:
      string: "{\n  \"totalSize\" : 1,\n  \"done\" : true,\n  \"records\" : [ {\n
        \   \"attributes\" : {\n      \"type\" : \"User\",\n      \"url\" : \"/services/data/v50.0/sobjects/User/0051F00000nc59NQAQ\"\n
        \   },\n    \"Id\" : \"0051F00000nc59NQAQ\"\n  } ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Response-Headers: Elided
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.my.salesforce.com/services/data/v50.0/query/?q=select+Id+from+User
  response:
    body:
      string: "{\n  \"totalSize\" : 7,\n  \"done\" : true,\n  \"records\" : [ {\n
        \   \"attributes\" : {\n      \"type\" : \"User\",\n      \"url\" : \"/services/data/v50.0/sobjects/User/0051F00000nc59NQAQ\"\n
        \   },\n    \"Id\" : \"0051F00000nc59NQAQ\"\n  }, {\n    \"attribut[...]
