interactions:
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.salesforce.com/services/data/v50.0/query/?q=SELECT+count%28%29+FROM+Account
  response:
    body:
      string: "{\n  \"totalSize\" : 2531,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.salesforce.com/services/data/v50.0/query/?q=Select+Id+FROM+Account+LIMIT+1+OFFSET+5
  response:
    body:
      string: "{\n  \"totalSize\" : 1,\n  \"done\" : true,\n  \"records\" : [ {\n
        \   \"attributes\" : {\n      \"type\" : \"Account\",\n      \"url\" : \"/services/data/v50.0/sobjects/Account/0016300000uJdTTAA0\"\n
        \   },\n    \"Id\" : \"0016300000uJdTTAA0\"\n  } ]\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Request-Headers:
      - Elided
    method: GET
    uri: https://orgname.salesforce.com/services/data/v50.0/query/?q=Select+Id+FROM+Account+LIMIT+1+OFFSET+5
  response:
    body:
      string: "{\n  \"totalSize\" : 1,\n  \"done\" : true,\n  \"records\" : [ {\n
        \   \"attributes\" : {\n      \"type\" : \"Account\",\n      \"url\" : \"/services/data/v50.0/sobjects/Account/0016300000uJdTTAA0\"\n
        \   },\n    \"Id\" : \"0016300000uJdTTAA0\"\n  } ]\n}"
    headers:
      Response-Headers: Elided
    status:
      code: 200
      message: OK
version: 1
