name: post-review-checks

on:
  pull_request_review:
    types: [submitted]

  workflow_dispatch:

jobs:
  faker_docs:
    name: Faker Docs I18N
    runs-on: sfdc-ubuntu-latest
    steps:
      - uses: "actions/checkout@v4"
      - uses: "actions/setup-python@v5"
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -VV
          pip install -r requirements_dev.txt
          # docs build requires a proper install
          python setup.py install

      - name: Make Docs
        run: make docs
